.menu-nav-bar-container {
    width: 100%;
    padding-left: 32px;
}

.nav-bar-list-container {
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 56px;
    list-style-type: none;
    overflow-x: scroll;
}

.list-categories-image-container {
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
    margin-bottom: 18px;
}

.nav-bar-list .list-categories-title {
    font-family: Encode Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #E5DFD9 ;
    white-space: nowrap;

}